<div class="hero-unit">
  <div class="pull-right">
    <%= image_tag "loseweight_500.jpg", width: "300"%>
  </div>
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
  Content
</div>